@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}

html{
    height: 100%;
    overflow: auto;

}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #111111;
    color: white;
    height: 90%;     

}

header{
    text-align: center;
}

h1{
    text-align: center;
    display: inline-block;
    font-weight: 600;
    font-size: 3rem;
    background: linear-gradient(to right, red, yellow, blue, purple, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    border-radius: 0 0 5px rgb(0, 0, 0, 1);
    letter-spacing: 0.2rem;
}

.projects{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.project{
    width: 350px;
    height: 300px;
    margin-left: 20px;
    margin-top: 30px;
    background-color: #232323;
    transition: all 0.3s ease-in;
    border-radius: 10px;
}

.project:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 5px 1px yellow;
}

img{
    width: 350px;
    height: 250px;
}

p{
    display: inline-block;
    background: linear-gradient(to right, red, yellow, blue, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: auto;
    font-size: 2rem;
    font-weight: 700;
}

.heading{
    text-align: center;
}

button{
    position: absolute;
    top: 30;
    right: 30px;
    outline: none;
    border: none;
    float: right;
    height: 40px;
    width: 150px;
    background: transparent;
    border-width: 3px;
    border-style: double;
    border-image: linear-gradient(to right, red, yellow) 1;
    transition: all 0.1s ease-in;
    
}

button>a{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    font-size: larger;
    color: blue;
    font-weight: 600;
    
}

button:hover{
    transform: scale(1.05);
}

span{
    font-size: small;
    letter-spacing: normal;
    padding-right: 5px;
}