@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #EFF5F6;
}

header{
    display: flex;
    justify-content: center;
    margin: 20px;
    color: #98533c;
}

.container{
    background-image: url("https://images.unsplash.com/photo-1517299321609-52687d1bc55a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
}

.header{
    font-size: 2rem;
    margin-top: 2rem;
    color: #927064;
}

.timer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem;
    
}

.days,.hours,.minutes,.seconds{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big-text{
    font-size: 5rem;
    font-weight: 600;
    color: #927064;
}

.small-text{
    font-size: 1.5rem;
    font-weight: 400;
    color: #927064;
}

@media only screen and (max-width: 480px) {
    .timer{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        
    }
    
}